#Text editors
.idea/
.vscode/

#MacOS
**/.DS_Store

#Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.auto.tfvars
*.tfplan
backend.hcl
crash.log

#Template + notes
notatki.txt
terraform.old/*